<!doctype html>
<html lang="en" data-theme="pastel">
  <%- include('./src/partials/head.ejs', { title: 'Roots and Bloom: Vegan & Vegetarian Restaurant in South Goa', description: 'Discover Roots and Bloom, a vegan and vegetarian restaurant in South Goa, offering a diverse menu of healthy and delicious dishes. Book your table today!' }) %>
  <body class="bg-white pt-16 text-gray-900 antialiased md:pt-25">
    <h1>Roots and Bloom</h1>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
