<!doctype html>
<html lang="en" data-theme="pastel">
  <%- include('./src/partials/head.ejs', { title: 'Roots and Bloom: Vegan & Vegetarian Restaurant in South Goa', description: 'Discover Roots and Bloom, a vegan and vegetarian restaurant in South Goa, offering a diverse menu of healthy and delicious dishes. Book your table today!' }) %>
  
  <body class="min-h-screen flex items-center justify-center bg-base-300">
    <div class="text-center px-4 font-amatic text-primary">
      <img src="/img/logo.jpg" alt="Roots and Bloom Logo" class="mx-auto w-96 max-w-full">
      <h1 class="text-4xl ">Vegan and vegetarian café<br>in Palolem, South Goa</h1>
      <p class="text-2xl mt-4 ">Opening soon</p>
    </div>
    <script type="module" src="/src/main.ts"></script>
</body>
</html>
