<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta
    name="keywords"
    content="Vegan restaurant, vegetarian restaurant, Palolem beach"
  />
  <meta
    property="og:title"
    content="Roots and bloom: Vegan and vegetarian restaurant in South Goa"
  />
  <meta property="og:image" content="/img/logo-sq.svg" />
  <link rel="stylesheet" href="/src/styles.css" />
  <link rel="icon" href="/img/favicon.png" type="image/png" sizes="256x256" />
  <link rel="canonical" href="https://rootsandbloomcafe.com/" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Restaurant",
      "name": "Roots and bloom",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Palolem Down St, Palolem, Canacona",
        "addressLocality": "South Goa",
        "postalCode": "403702",
        "addressCountry": "IN"
      },
      "telephone": "+91 808 772 34 55",
      "image": "https://rootsandbloomcafe.com/img/logo-sq.svg",
      "priceRange": "$$",
      "description": "Roots and bloom is a vegan and vegetarian restaurant located in South Goa, offering a diverse menu of healthy and delicious dishes.",
      "servesCuisine": ["Vegan", "Vegetarian"],
      "openingHours": "Mo-Su 08:00-22:00",
      "url": "https://rootsandbloomcafe.com/",
      "sameAs": [
        "https://www.facebook.com/rootsandbloomcafe",
        "https://www.instagram.com/rootsandbloom.cafe/"
      ]
    }
  </script>
</head>
