@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes:
    pastel --default,
    dim --prefersdark;
}
@plugin "daisyui/theme" {
  name: "pastel";
  default: true;
  --color-primary: #315f4f;
  --color-primary-content: #fff;
  --color-secondary: #e7c5b6;
  --color-base-300: #eff3e9;
}

@layer base {
  a {
    @apply no-underline; /* Ensures no underline by default */
  }
  a:hover {
    @apply underline; /* Applies underline on hover */
  }
}

@font-face {
  font-family: "Amatic SC";
  src: url("/fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@theme {
  --font-amatic: "Amatic SC", sans-serif;
}
