@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes:
    pastel --default,
    dim --prefersdark;
}
@plugin "daisyui/theme" {
  name: "pastel";
  default: true;
  --color-primary: #c66f54;
  --color-primary-content: #fff;
  --color-secondary: #e7c5b6;
  --color-base-300: #eff3e9;
}

@layer base {
  a {
    @apply no-underline; /* Ensures no underline by default */
  }
  a:hover {
    @apply underline; /* Applies underline on hover */
  }
}
